# ATIVA o modulo de reescrita de url => mod_rewrite
RewriteEngine On

# String Base para Reescrita
RewriteBase /

# COLOCANDO CONDICIONAIS

# nunca redireciona o que já está em /with_php

# Se a URI não tem caminhos que NÃO começam com /with_php.
RewriteCond %{REQUEST_URI} !^/with_php(/|$)

# Se nao for um arquivo e diretorio  real/valido 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# URLs começando com "w" redirecionam para /with_php/
# se for realizar redirect com rewrite sempre use a FLAG  R=302
RewriteRule ^w.* /with_php/ [NC,R=302,L]


# LEMBRANDO QUE ESSE REDIRECT SÓ É POSSIVEL DEVIDO A CONFIGURAÇÃO DO ALIAS NO HTTP-VHOST.CONF COM ALIAS LIBERANDO ACESSO/ EXPONDO DE UMA PASTA
# QUE NÃO ESTA CONFIGURADA PARA SER ENCONTRADA PELO DOCUMENT ROOT


RewriteCond %{REQUEST_URI} !^/with_php(/|$)

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule !^[w](.*)$ index.php?url=$1 [NC,L]